.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.album img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.album p {
  margin-top: 10px;
  font-size: 25px;
  font-family: Noto Sans;
  text-align: center;
}

.bg {
  background-color: #bbdeff;
  margin-left: 50px;
  width: 1490px;
  display:flex;
  flex-wrap: wrap;        
  justify-content: center; 
  align-items: flex-start;
  padding: 30px;
  gap:30px;
}

a {
  text-decoration: none;
  color: black;
}

.faatext {
background-color: #e0e5e7;
font-family: Noto Sans;
font-size: 25px;
margin-top:0;
}

.credits {
margin-left: 800px;
}

.about {
  color: black;
  font-family: Noto Sans;
  font-size:45px;
  margin-bottom: 100px;
}

.fa-fa-caret-down {
  margin-top: 35px;
}

.tour {
    font-size: 45px;
    border: none;
    outline: none;
    color: black;
    padding-top: 5px;
    background-color: #2a88db;
    font-family: Noto Sans;
    margin-top: 35px;
    text-align: center;
    margin-left: 60px;
  }
  
  h3 {
    margin-bottom: 0.5px;
    font-size: 35px;
    text-decoration: underline;
  }
  
  .logo {
    width: 300px;
    float: left;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #2a88db;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 0px;
    width: 1550px;
  }
  
  .navbar a {
    float: left;
    font-size: 45px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 45px;
    border: none;
    outline: none;
    color: black;
    padding-top: 5px;
    background-color: #2a88db;
    font-family: Noto Sans;
    margin-top: 35px;
    margin-left: 60px;
    text-align: center;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #79b6eb;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #79b6eb;
    min-width: 160px;
    z-index: 1;
    margin-left: 60px;
    font-family: Noto Sans;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 1;
    font-size: 30px;
  }
  
  .dropdown-content a:hover {
    background-color: #93bee4;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  